.field {
    position: absolute;
    z-index: 5;

    width: 20%;


    border-radius: 5% 2% 2% 5%;
    align-self: center;
    background-color: #ffecaa;
    box-shadow: 0px 2px 15px 2px #ffecaa66;
}